* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #fffffe;
}

header {
  padding: 10px;
  /* border: 1px solid; */
}

header nav {
  padding: 1em;
  /* border: 1px solid; */
}

nav ul#navbar-side {
  display: none;
}

nav ul#navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 39em;
  height: 3em;
  list-style-type: none;
  position: fixed;
  transform: translate(47%, -40%);
  padding: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(6, 7, 15, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

nav ul a {
  text-decoration: none;
}

nav ul a li {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #808080b3;
  padding: 5px;
  transition: all ease-in-out 0.14s;
}

nav ul a li:hover {
  color: #1f1f1f;
  cursor: pointer;
  background-color: #fffffe;
  border-bottom: 0.2px solid #4e4d4d;
  border-radius: 30px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

section {
  /* border: 1px solid; */
  padding: 10px;
}

.container {
  max-width: 100vw;
  /* border: 1px solid; */
}

.container-home,
.container-about,
.container-project,
.container-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 20px;
}

img.foto-profil {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 5px solid #95c8c6d9;
  object-fit: cover;
  object-position: top;
}

.container-home h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 800;
}

.container-home p,
.container-about p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 70vw;
  /* border: 1px solid; */
}

.container-home .button-home-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 25em;
  padding: 1rem;
  /* border: 1px solid; */
}

.container-home .button-home-section button.button-linked-in {
  width: 140px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 0 auto;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.container-home .button-home-section button.button-linked-in:hover {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border: 0.5px solid;
}

.container-home .button-home-section button.button-CV {
  width: 140px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 0 auto;
  background-color: #fff;
  color: #0e0e0e;
  border-radius: 30px;
  outline: none;
  border: 1px solid #0e0e0e;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.container-home .button-home-section button.button-CV:hover {
  background-color: #000;
  color: #fff;
}

.container-home .logo-social {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5px;
  width: 15em;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(6, 7, 15, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-home .logo-social a {
  text-decoration: none;
  color: #000;
}

.container-home .logo-social .border-logo {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 auto;
  transition: all ease-in-out 0.1s;
  /* border: 1px solid; */
}

.container-home .logo-social .border-logo:hover {
  color: #1f1f1f;
  cursor: pointer;
  background-color: #fffffe;
  border-bottom: 0.8px solid #4e4d4d;
  border-radius: 30px;
  outline: none;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.container-about h2,
.container-project h2,
.container-skill h2,
.container-certification h2,
.container-education h2,
.container-contact h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.container-certification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid; */
}

.list-certification-container {
  width: 70em;
  /* border: 1px solid; */
}

.list-project-container ul,
.list-certification-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 30px;
}

.list-project-container ul li,
.list-certification-container ul li {
  list-style-type: none;
  width: 25em;
  padding: 1rem;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.75);
}

.list-project-container ul li .wrapper-project,
.list-certification-container ul li .wrapper-certification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-project-container ul li .wrapper-project img,
.list-certification-container ul li .wrapper-certification img {
  width: 170px;
  height: 95px;
  border-radius: 3px;
  object-fit: contain;
  /* border: 1px solid; */
}

.list-project-container ul li .wrapper-project p,
.list-certification-container ul li .wrapper-certification p {
  font-size: 10px;
  text-align: justify;
  /* border: 1px solid; */
}

.list-skill-container {
  width: 30em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  /* border: 1px solid; */
}

.list-skill-container .img-skill {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;
  transition: all ease-in-out 0.2s;
}

.list-skill-container .img-skill:hover {
  transform: translateY(-3px);
  scale: 1.1;
  -webkit-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  border: 1.5px solid;
}

.list-skill-container img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  /* border: 1px solid; */
}

.list-education-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* border: 1px solid; */
}

.list-education-container img {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border: 0.2px solid;
  object-fit: contain;
}

.list-education-container .education-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid;
  -webkit-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
}

.list-education-container .education-list-content .info-education-content p {
  font-size: 12px;
}

.container-form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid; */
}

.container-form-contact form {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid;
  -webkit-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
}

.container-form-contact form input.email-input {
  width: 500px;
  padding: 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid;
  outline: none;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 15px;
}

.container-form-contact form input.message-input {
  width: 500px;
  height: 150px;
  padding: 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid;
  outline: none;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 15px;
}

.container-form-contact form button {
  width: 120px;
  height: 35px;
  background-color: #fff;
  font-family: "Patrick Hand", cursive;
  outline: none;
  border: 2px solid rgba(148, 199, 197, 0.851);
  transition: all ease-in-out 0.3s;
}

.container-form-contact form button:hover {
  color: #fff;
  background-color: #000;
  transform: translateY(-3px);
  -webkit-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 1px 0px rgba(148, 199, 197, 0.851);
  scale: 1.1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #1f1f1f87;
}

footer .copyright {
  font-family: "Poppins", sans-serif;
  color: #fffffe;
}

.social-med {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.social-med .border-social-med {
  padding: 5px;
  width: 50px;
  height: 35px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(6, 7, 15, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.social-med .border-social-med:hover {
  /* background-color: #fff; */
  border: none;
}

.social-med .border-social-med a {
  color: #fff;
}

/* media query phone */
@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  main {
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  nav.nav {
    display: none;
  }

  body {
    gap: 0;
  }

  nav.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 90vh;
    position: fixed;
    top: 1rem;
    left: 90.5vw;
    /* border: 1px solid; */
  }

  nav.side ul#navbar-side {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    /* border: 1px solid; */
  }

  nav.side ul#navbar-side a {
    text-decoration: none;
  }

  nav ul#navbar-side a li span {
    text-decoration: none;
    width: 20px;
    /* border: 1px solid; */
  }

  .container-home img.foto-profil {
    width: 100px;
    height: 100px;
  }

  .home-section {
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 0;
    /* border: 1px solid; */
  }

  .container-home {
    height: 60vh;
    /* border: 1px solid; */
  }

  .container-home h3,
  .container-about h2,
  .container-project h2,
  .list-education-container .education-list-content .info-education-content h4 {
    font-size: 80%;
  }

  .container-home p,
  .container-about p {
    width: 70vw;
    font-size: 70%;
    text-align: justify;
  }

  .button-home-section {
    flex-direction: column;
    align-items: center;
    width: 100px;
    /* border: 1px solid; */
  }

  .container-home .button-home-section button.button-linked-in {
    width: 100px;
    font-size: 60%;
  }

  .container-home .button-home-section button.button-CV {
    width: 100px;
    font-size: 60%;
  }

  .container-home .logo-social {
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    /* border: 1px solid; */
  }

  .container-home .logo-social a .border-logo {
    width: 70%;
    /* border: 1px solid; */
  }

  .list-project-container ul li.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid;
  }

  .wrapper-project {
    flex-direction: column;
    width: 20em;
    height: 30vh;
    padding: 10px;
    /* border: 1px solid; */
  }

  .wrapper-project .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .wrapper-project h4 {
    text-align: center;
  }

  .list-skill-container {
    width: 84vw;
    /* border: 1px solid; */
  }

  .list-certification-container {
    width: 80vw;
    /* border: 1px solid; */
  }

  .list-certification-container ul li.certification-list {
    width: 350px;
    max-height: 8em;
    padding: 10px;
    /* border: 1px solid; */
  }

  .list-certification-container
    ul
    li.certification-list
    .wrapper-certification
    img {
    width: 70px;
    width: 70px;
  }

  .info-wrapper h4 {
    font-size: 12px;
  }

  .list-education-container .education-list-content {
    justify-content: flex-start;
    width: 80%;
    height: 5.5em;
  }

  .list-education-container .education-list-content .info-education-content p {
    font-size: 10px;
  }

  .container-form-contact form {
    width: 80vw;
  }

  .container-form-contact form input.email-input {
    width: 210px;
  }

  .container-form-contact form input.message-input {
    width: 210px;
  }

  .copyright h3 {
    font-size: 80%;
  }
}
/* media query phone */
